head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title #{title}
  link(rel='stylesheet', href='../../public/stylesheets/bootstrap.min.css')
  //- link(rel='stylesheet', href='../../public/stylesheets/my-custom.css')
  link(rel='stylesheet', href='../../public/stylesheets/dashboard.css')
  //- link(rel='stylesheet', href='../../public/stylesheets/upfile.css')
