head
  title Dang nhap
  link(rel='stylesheet', type='text/css', href='./public/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='./public/javascripts/bootstrap.min.js')
  link(rel='stylesheet', type='text/css', href='./public/css/sign.css')

