include head.pug
#form_container.container
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') ABC UNIVERSITY
    .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='') &Dstrok;&abreve;ng Nh&#x1EAD;p
  div
    img(src='./public/img/logo.png')
  form#form
    .form-group
      label(for='taikhoan') T&agrave;i kho&#x1EA3;n:
      input#taikhoan.form-control(type='text', placeholder='Nhập tài khoản', name='taikhoan')
    .form-group
      label(for='matkhau') M&#x1EAD;t kh&#x1EA9;u:
      input#matkhau.form-control(type='password', placeholder='Nhập mật khẩu', name='matkhau')
    .form-group.form-check
      label.form-check-label
        input.form-check-input(type='checkbox', name='nhotaikhoan')
        |  Nh&#x1EDB; t&agrave;i kho&#x1EA3;n
    button.btn.btn-primary.btn-block(type='submit') &Dstrok;&abreve;ng nh&#x1EAD;p
div(style='position: fixed;width: 100%; height: 80px;padding-top: 25px; bottom: 0px; text-align: center; background-color: whitesmoke')
  p Trung tâm máy tính ABC UNIVERSITY
