html
  include ./layouts/header
  body
    .content
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.row
        a.logo.col-12.navbar-brand(href='#') ABC University  
        //- #navbarCollapse.collapse.navbar-collapse.col-2
        //-   ul.navbar-nav
        //-     li.nav-item
        //-       a.nav-link(href='/') Home 
        //-     li.nav-item
        //-       a.nav-link(href='/listing') View all listings
        //-     li.nav-item
        //-   a.nav-link(href='/tutorial') Tutorial
      .center
        .left-screen
          h1.h1.mb-3.font-weight-normal.notification Thông báo

        .right-screen
          form(method='POST').form-signin.center
            //img.mb-4(src='/docs/4.3/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
            h1.h1.mb-3.font-weight-normal Đăng nhập
            input#inputEmail.form-control(type='username', placeholder='Tên truy cập', required='', autofocus='' name='username')
            br
            input#inputPassword.form-control(type='password', placeholder='Mật khẩu', required='' name='password')
            .checkbox.mb-3
              label.remember
                input(type='checkbox', value='remember-me')
                |  Ghi nhớ
              label.forgetPassword
                a(href='#') Quên mật khẩu?
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Đăng nhập


      include ./layouts/footer
        //- #navbarCollapse.collapse.navbar-collapse.col-2
        //-   ul.navbar-nav
        //-     li.nav-item
        //-       a.nav-link(href='/') Home 
        //-     li.nav-item
        //-       a.nav-link(href='/listing') View all listings
        //-     li.nav-item
        //-       a.nav-link(href='/tutorial') Tutorial
      //- nav.navbar.navbar-expand-md.navbar-dark.fixed-bottom.bg-dark.row
      //-   a.bottom.col-12.navbar-brand.bg-dark(href='#') &copy; 2019-2020




