

.left-screen {
    position: absolute!important;
    left: 0!important;
    background-color: #f5f5f5;
    width: 18%;
    height: 100%;


    /* position: absolute!important;
    right: 0!important; */
    /* text-align: center; */


    /* display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; */
    padding-top: 3%;


}

.right-screen {


    position: absolute!important;
    right: 0!important;
    background-color: #fff;
    /* text-align: center; */
    width: 82%;
    height: 100%;


    /* display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px; */

}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  

.remember {
    float: left;
}

.forgetPassword {
    float: right;
}


.logo {
    text-align: center;
    font-family: Forte;
}

.mt-5 {
    text-align: center;
}

.bottom {

    text-align: center;

    font-size: 1rem;

}


.username {
    color: #fff;
    padding-left: 3px;
}

.dashboard {
    font-size: 1.25rem;
  
}


li p {
  display: block;
  width: 100%;
}

/* li p:hover {
  background-color: #978eb6;
  font-weight: bold;
  color: white;
} */

.current {   
  background-color: #978eb6;
  font-weight: bold;
  color: white;
}


.form-signin {
  padding-top: 8%;
}

.reg {
  top: 20%;
}